<div class="col-lg-4 col-md-5 col-12 ml-auto widget">
    <div class="widget__group">
      <h3 class="aside__title">CATEGORIES</h3>
      <ul class="widget__list">
        {{#each kids.item}}
          <li><a href="{{url}}"><span class="icon icon--{{icon}}"></span>{{name}}</a></li>
        {{/each}}
      </ul>
    </div>
    <div class="widget__group">
      <h3 class="aside__title">SIZE</h3>
      <ul class="widget__list">
        {{#each nav.kids-size}}
          <li><a href="{{url}}">{{size}}</a></li>
        {{/each}}
      </ul>
    </div>
    <div class="widget__group">
      <a href="sizeguide.html"><h4>サイズガイド</h4></a>
      <p>
        ウエア類の採寸方法やトルソーのサイズなどをご案内しています
      </p>
    </div>
    <div class="widget__group border-bottom-no">
      <a href="/fs/lilietnene/c/item-gift-wrapping"><h4>ギフトラッピング</h4></a>
      <p>
        贈り物にオリジナルメッセージ入りのカードを添えられるラッピングもご用意しています。
      </p>
    </div>

</div><!-- ./widget -->
