<div id="arrival" class="grid">
  <h2 class="grid__lead">WHAT'S NEW!</h2>
  <div class="row">
    {{#each index.arrivals}}
      <div class="col-lg-2 col-md-4 col-6 grid__item">
        <span class="badge badge-dark grid__badge">{{category}}</span>
        <a href="{{url}}">
          <picture>
            <!--[if IE 9]><video style="display: none"><![endif]-->
            <source media="(min-width: 1280px)" srcset="assets/images/index-pic-{{img}}-1280.jpg 1x, assets/images/index-pic-{{img}}-1280-2x.jpg 2x">
            <source media="(min-width: 1024px)" srcset="assets/images/index-pic-{{img}}-1024.jpg 1x, assets/images/index-pic-{{img}}-1024-2x.jpg 2x">
            <source media="(min-width: 640px)" srcset="assets/images/index-pic-{{img}}-640.jpg 1x, assets/images/index-pic-{{img}}-640-2x.jpg 2x">
            <source media="(min-width: 320px)" srcset="assets/images/index-pic-{{img}}-320.jpg 1x, assets/images/index-pic-{{img}}-320-2x.jpg 2x">
            <!--[if IE 9]></video><![endif]-->
            <img class="img-fluid mx-auto lazyload" src="assets/images/index-pic-{{img}}-640.jpg" alt="{{alt}}">
          </picture>
        </a>
        <p class="update"><a href="{{url}}">{{update}}</a></p>
        <p>{{summary}}</p>
      </div>
    {{/each}}
  </div>
</div>
