<div id="myCarousel" class="carousel slide contents_wrpper" data-ride="carousel">
			<ol class="carousel-indicators">
        {{#each index.carousel}}
          <li data-target="#myCarousel" data-slide-to="{{indicators-id}}" class="{{class}}"></li>
        {{/each}}
			</ol>
    			<div class="carousel-inner">
            {{#each index.carousel}}
              <div class="carousel-item {{class}}">
								<a href="{{url}}">
									<picture>
				            <!--[if IE 9]><video style="display: none"><![endif]-->
				            <source media="(min-width: 1280px)" srcset="assets/images/carousel-pic-{{img}}-1280.jpg 1x, assets/images/carousel-pic-{{img}}-1280-2x.jpg 2x">
				            <source media="(min-width: 1024px)" srcset="assets/images/carousel-pic-{{img}}-1280.jpg 1x, assets/images/carousel-pic-{{img}}-1280-2x.jpg 2x">
				            <source media="(min-width: 640px)" srcset="assets/images/carousel-pic-{{img}}-640.jpg 1x, assets/images/carousel-pic-{{img}}-640-2x.jpg 2x">
				            <source media="(min-width: 320px)" srcset="assets/images/carousel-pic-{{img}}-320.jpg 1x, assets/images/carousel-pic-{{img}}-320-2x.jpg 2x">
				            <!--[if IE 9]></video><![endif]-->
										<img class="carousel-img {{count}}" src="assets/images/carousel-pic-{{img}}-1280.jpg" data-src="{{img}}" alt="{{alt}}" data-holder-rendered="true">
				          </picture>
								</a>
                <div class="container">
                  <div class="carousel-caption text-{{position}}">
                    <h1>{{title}}</h1>
                    <p>{{summary}}</p>
                    <p><a class="btn btn-light-extended" href="{{url}}" role="button">VIEW MORE</a></p>
                  </div>
                </div>
              </div>
            {{/each}}
    			</div>
			<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">前へ</span>
			</a>
			<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">次へ</span>
			</a>
</div>
